<form action="/renew/<%= @memo.id %>" class="pure-form" method="post">
    <fieldset>
        <legend>メモの編集</legend>

        <input type="text" placeholder="<%= @memo.title %>" name="title">
        <input type="text" placeholder="<%= @memo.body %>" name="body">

        <label for="category">カテゴリ</label>
        <select id="category" name="category">
            <% @categories.each do |category| %>
            <option value="<%= category.id %>"><%= category.name %></option>
            <% end %>
        </select>
        <button type="submit" class="pure-button pure-button-primary">更新</button>
    </fieldset>
</form>
