<form action="/create" method ="post" class="pure-form">
   <fieldset>
    <legend>新しいメモを追加</legend>
     <input type="text" placeholder="タイトル" name="title" >
     <input type="text" placeholder="内容" name="body" >

     <label for="category">カテゴリ</label>
     <select id="category" name="category">
      <% @categories.each do |category| %>
       <option value="<%= category.id %>"><%= category.name %></option>
      <% end %>
     </select>
    <input type="submit" class="pure-button pure-button-primary">
  </fieldset>
</form>


<div class="ui cards">
  <% @memos.each do |memo| %>
     <div class="ui card">
       <div class="content">
         <div class="header">
           <p><%= memo.title %></p>
         </div>
         <div class="meta">
           <p><%= memo.category.name %></p>
         </div>
       </div>
       <div class="content">
         <div class="description">
           <p><%= memo.body %></p>
         </div>
       </div>
       <div class="extra content">
         <button class="ui button"><a href="/edit/<%= memo.id %>">Edit</a></button>
         <button class="ui button"><a href="/delete/<%= memo.id %>">Delete</a></button>
       </div>
       
     </div>
   <% end %>
</div>
